{{ partial "top.html" . }}

  <article class="posts">

     <div style="height: 400px; margin-bottom: 2rem;">
      <google-map api-key="AIzaSyDP0QBqz-DhR2b6E-9cFcqNXRWXaAeABzs" fit-to-markers>
        {{ range .Pages -}}
        {{ $title := .Title }}
        {{ $date := .Date.Format "2006-01-02" }}
        {{ range .Params.positions }}
        <google-map-marker slot="markers" latitude="{{ .lat }}" longitude="{{ .long }}" title="{{ print $date " - " $title }}"></google-map-marker>
        {{ end }}
        {{- end }}
      </google-map>
    </div>

    {{ range (where .Data.Pages "Type" "post").GroupByDate "2006" -}}
    <section>
      <h2>{{ .Key }}</h2>

      <ol>
        {{ range .Pages -}}
        <li>
          <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02" }}</time>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{- end }}
      </ol>
    </section>
    {{ end }}

  </article>

{{ partial "bottom.html" . }}
